body {
    background-repeat: no-repeat;
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-size: 100% 269px;
	
	
	
> .row {
 margin-left:-10px;
 > #row_sidebar{
 	> .panel {
 		> .panel-body{
 			> .panel{
 				> .panel-body{
 				> .title{
 				a {
 				h1 {
 				
 				
 				
 				}
 				}
 				
 				}
 				
 				}
 				
 			}
 		
 		}
 	
 	}
 	
 }
 	
> #row_sidebar2 {
	margin-left:-4px;
	margin-top:0px;
}
	#row_sidebar{
	
	> .panel {
	
	margin-top:0px;
	}
	}
 
}
	
 > .header{
 > .logo {
    
    
	height:280px;
	margin-left:38%;
	background-repeat: no-repeat;
	
 
 }
 
	> .navbar  {
	background-color:#1b1b1b;
	margin-top:0px;
	border:none;
		> .container-fluid{
			> .collapse {
				
				
				ul {
				
					li {
					
					}
				
				}
			
			}	
		
		}
	}
 }
 
 h1 {
 color:black;
 }
}